.card__delete {
    background-image: url(../../../images/delete.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
    align-self: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
}

.card__delete:hover {
    opacity: .6;
    cursor: pointer;
}