.popup__submit_delete {
    width: 358px;
    height: 50px;
    margin: 0 0 37px;
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 400;
    border: none;
}

.popup__submit_delete:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .popup__submit_delete{
      max-width: 238px;
      height: 46px;
      margin: 45px 0 25px;
      font-size: 0.875rem;
      line-height: 1.062rem;
    }
}