.popup__input {
    margin: 0;
    padding: 0;
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.875rem;
    line-height: 1.062rem;
    font-weight: 400;
}
